In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

## Data Retrieval

Import Telco Dataset

In [2]:
df = pd.read_csv("Telco.csv")

## Data Processing

View the first 5 rows of the dataset

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

We can see the different data types  present in the data, 1 Float, 2 Integers, 18 Objects. The objects will need to be converted into number values in order to run through the Neural Network.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

There are no null values in the dataframe

In [5]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Drop customer ID as it has no purpose for this model

In [6]:
df.drop(columns=['customerID'],inplace=True)

Convert all the column names to lowercase to avoid errors in the data wrangling

In [7]:
df.columns = df.columns.str.lower()

Use the lambda function to make all the strings in the dataset lower case so all values are homogenous

In [8]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

In [9]:
df

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,female,0,yes,no,1,no,no phone service,dsl,no,yes,no,no,no,no,month-to-month,yes,electronic check,29.85,29.85,no
1,male,0,no,no,34,yes,no,dsl,yes,no,yes,no,no,no,one year,no,mailed check,56.95,1889.5,no
2,male,0,no,no,2,yes,no,dsl,yes,yes,no,no,no,no,month-to-month,yes,mailed check,53.85,108.15,yes
3,male,0,no,no,45,no,no phone service,dsl,yes,no,yes,yes,no,no,one year,no,bank transfer (automatic),42.30,1840.75,no
4,female,0,no,no,2,yes,no,fiber optic,no,no,no,no,no,no,month-to-month,yes,electronic check,70.70,151.65,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,male,0,yes,yes,24,yes,yes,dsl,yes,no,yes,yes,yes,yes,one year,yes,mailed check,84.80,1990.5,no
7039,female,0,yes,yes,72,yes,yes,fiber optic,no,yes,yes,no,yes,yes,one year,yes,credit card (automatic),103.20,7362.9,no
7040,female,0,yes,yes,11,no,no phone service,dsl,yes,no,no,no,no,no,month-to-month,yes,electronic check,29.60,346.45,no
7041,male,1,yes,no,4,yes,yes,fiber optic,no,no,no,no,no,no,month-to-month,yes,mailed check,74.40,306.6,yes
7042,male,0,no,no,66,yes,no,fiber optic,yes,no,yes,yes,yes,yes,two year,yes,bank transfer (automatic),105.65,6844.5,no

View all the object data types of the dataframe. As we can see they are all objects.

In [10]:
df.astype(object)

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,female,0,yes,no,1,no,no phone service,dsl,no,yes,no,no,no,no,month-to-month,yes,electronic check,29.85,29.85,no
1,male,0,no,no,34,yes,no,dsl,yes,no,yes,no,no,no,one year,no,mailed check,56.95,1889.5,no
2,male,0,no,no,2,yes,no,dsl,yes,yes,no,no,no,no,month-to-month,yes,mailed check,53.85,108.15,yes
3,male,0,no,no,45,no,no phone service,dsl,yes,no,yes,yes,no,no,one year,no,bank transfer (automatic),42.3,1840.75,no
4,female,0,no,no,2,yes,no,fiber optic,no,no,no,no,no,no,month-to-month,yes,electronic check,70.7,151.65,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,male,0,yes,yes,24,yes,yes,dsl,yes,no,yes,yes,yes,yes,one year,yes,mailed check,84.8,1990.5,no
7039,female,0,yes,yes,72,yes,yes,fiber optic,no,yes,yes,no,yes,yes,one year,yes,credit card (automatic),103.2,7362.9,no
7040,female,0,yes,yes,11,no,no phone service,dsl,yes,no,no,no,no,no,month-to-month,yes,electronic check,29.6,346.45,no
7041,male,1,yes,no,4,yes,yes,fiber optic,no,no,no,no,no,no,month-to-month,yes,mailed check,74.4,306.6,yes
7042,male,0,no,no,66,yes,no,fiber optic,yes,no,yes,yes,yes,yes,two year,yes,bank transfer (automatic),105.65,6844.5,no

## Data Preprocessing

We must use pandas df.replace function in order to replace all of the yes and no values to numbers in order for the Neural network model to run correctly

In [11]:
df.replace(['yes'], 1, inplace=True)
df.replace(['no'], 0, inplace=True)
df.replace(['no internet service'], 0,inplace=True)
df.replace(['no phone service'],0,inplace=True)
df['internetservice'].replace(["dsl"], 2, inplace=True)
df['internetservice'].replace(["fiber optic"], 1, inplace=True)

In [12]:
df

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,female,0,1,0,1,0,0,2,0,1,0,0,0,0,month-to-month,1,electronic check,29.85,29.85,0
1,male,0,0,0,34,1,0,2,1,0,1,0,0,0,one year,0,mailed check,56.95,1889.5,0
2,male,0,0,0,2,1,0,2,1,1,0,0,0,0,month-to-month,1,mailed check,53.85,108.15,1
3,male,0,0,0,45,0,0,2,1,0,1,1,0,0,one year,0,bank transfer (automatic),42.30,1840.75,0
4,female,0,0,0,2,1,0,1,0,0,0,0,0,0,month-to-month,1,electronic check,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,male,0,1,1,24,1,1,2,1,0,1,1,1,1,one year,1,mailed check,84.80,1990.5,0
7039,female,0,1,1,72,1,1,1,0,1,1,0,1,1,one year,1,credit card (automatic),103.20,7362.9,0
7040,female,0,1,1,11,0,0,2,1,0,0,0,0,0,month-to-month,1,electronic check,29.60,346.45,0
7041,male,1,1,0,4,1,1,1,0,0,0,0,0,0,month-to-month,1,mailed check,74.40,306.6,1
7042,male,0,0,0,66,1,0,1,1,0,1,1,1,1,two year,1,bank transfer (automatic),105.65,6844.5,0

Check if there is any whitespace in the string values of the dataframe. We Can see that there is a few.

In [13]:
np.where(df == " ")

(array([ 488,  753,  936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754],
       dtype=int64),
 array([18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18], dtype=int64))

Using indexing we can find an example of the whitespace present in the data

In [14]:
df.totalcharges.iloc[485:490]

485    6130.85
486       1415
487    6201.95
488
489      74.35
Name: totalcharges, dtype: object

Replace the whitespace values with 0

In [15]:
df.replace(" ",0, inplace=True)

Initialise the label encoder from SkLearn.preprocessing

In [16]:
label = LabelEncoder()

Create an array of the dataframe and take all features of the data except for "churn" and store it in "X".
</br></br>
Store the Churn feature as our target variable in "Y"

In [17]:
X = df.iloc[:,:-1].values
Y = df.iloc[:,-1:].values
X.shape

(7043, 19)

Use the label encoder to encode and transform the remaining values into numeric form and assign an integer value to each

In [18]:
X[:,7] = label.fit_transform(X[:,7])
X[:,-5] = label.fit_transform(X[:,-5])
X[:,-4] = label.fit_transform(X[:,-4])
X[:,-3] = label.fit_transform(X[:,-3])
X[:,0] = label.fit_transform(X[:,0])

In [19]:
X

array([[0, 0, 1, ..., 2, 29.85, '29.85'],
       [1, 0, 0, ..., 3, 56.95, '1889.5'],
       [1, 0, 0, ..., 3, 53.85, '108.15'],
       ...,
       [0, 0, 1, ..., 2, 29.6, '346.45'],
       [1, 1, 1, ..., 3, 74.4, '306.6'],
       [1, 0, 0, ..., 0, 105.65, '6844.5']], dtype=object)

Initialise the ColumnTransformer from SkLearn.compose to transform the 19 features present in the "X" variable into a single feature space

In [20]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X = np.array(ct.fit_transform(X))

Split the data using Train Test Split with a 70/30 split

In [21]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.3)

In [22]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((2112, 20), (4931, 20), (2112, 1), (4931, 1))

Scale the data using standard Scaler to convert the data to the same scale.

In [23]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## ANN

Initialise the Sequential model of the Neural Network

In [29]:
ann = tf.keras.models.Sequential()

For this Neural Network we will use the Rectified Linear Unit activation function and the Sigmoid Activation Function as we have a binary target variable.

In [30]:
ann.add(tf.keras.layers.Dense(units= 8, activation='relu'))
ann.add(tf.keras.layers.Dense(units= 8, activation='relu'))
ann.add(tf.keras.layers.Dense(units= 1, activation='sigmoid'))

Using a Binary Cross Entropy loss function we will measure the accuracy of our model

In [34]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
ann.fit(X_train,Y_train,batch_size=32,epochs=200)

Epoch 1/200
66/66 [==============================] - 0s 924us/step - loss: 0.3613 - accuracy: 0.8385
Epoch 2/200
66/66 [==============================] - 0s 939us/step - loss: 0.3598 - accuracy: 0.8381
Epoch 3/200
66/66 [==============================] - 0s 924us/step - loss: 0.3602 - accuracy: 0.8381
Epoch 4/200
66/66 [==============================] - 0s 924us/step - loss: 0.3602 - accuracy: 0.8357
Epoch 5/200
66/66 [==============================] - 0s 955us/step - loss: 0.3597 - accuracy: 0.8371
Epoch 6/200
66/66 [==============================] - 0s 909us/step - loss: 0.3591 - accuracy: 0.8376
Epoch 7/200
66/66 [==============================] - 0s 924us/step - loss: 0.3590 - accuracy: 0.8381
Epoch 8/200
66/66 [==============================] - 0s 955us/step - loss: 0.3587 - accuracy: 0.8395
Epoch 9/200
66/66 [==============================] - 0s 939us/step - loss: 0.3588 - accuracy: 0.8376
Epoch 10/200
66/66 [==============================] - 0s 970us/step - loss: 0.3597 - accuracy: 0.8366
Epoch 11/200
66/66 [==============================] - 0s 939us/step - loss: 0.3590 - accuracy: 0.8395
Epoch 12/200
66/66 [==============================] - 0s 924us/step - loss: 0.3586 - accuracy: 0.8381
Epoch 13/200
66/66 [==============================] - 0s 939us/step - loss: 0.3592 - accuracy: 0.8371
Epoch 14/200
66/66 [==============================] - 0s 939us/step - loss: 0.3586 - accuracy: 0.8381
Epoch 15/200
66/66 [==============================] - 0s 985us/step - loss: 0.3584 - accuracy: 0.8381
Epoch 16/200
66/66 [==============================] - 0s 924us/step - loss: 0.3583 - accuracy: 0.8376
Epoch 17/200
66/66 [==============================] - 0s 985us/step - loss: 0.3578 - accuracy: 0.8371
Epoch 18/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8376
Epoch 19/200
66/66 [==============================] - 0s 985us/step - loss: 0.3581 - accuracy: 0.8423
Epoch 20/200
66/66 [==============================] - 0s 924us/step - loss: 0.3578 - accuracy: 0.8381
Epoch 21/200
66/66 [==============================] - 0s 939us/step - loss: 0.3574 - accuracy: 0.8390
Epoch 22/200
66/66 [==============================] - 0s 924us/step - loss: 0.3569 - accuracy: 0.8362
Epoch 23/200
66/66 [==============================] - 0s 924us/step - loss: 0.3573 - accuracy: 0.8371
Epoch 24/200
66/66 [==============================] - 0s 909us/step - loss: 0.3567 - accuracy: 0.8390
Epoch 25/200
66/66 [==============================] - 0s 924us/step - loss: 0.3569 - accuracy: 0.8395
Epoch 26/200
66/66 [==============================] - 0s 909us/step - loss: 0.3570 - accuracy: 0.8362
Epoch 27/200
66/66 [==============================] - 0s 909us/step - loss: 0.3572 - accuracy: 0.8366
Epoch 28/200
66/66 [==============================] - 0s 924us/step - loss: 0.3563 - accuracy: 0.8395
Epoch 29/200
66/66 [==============================] - 0s 924us/step - loss: 0.3569 - accuracy: 0.8385
Epoch 30/200
66/66 [==============================] - 0s 938us/step - loss: 0.3563 - accuracy: 0.8371
Epoch 31/200
66/66 [==============================] - 0s 939us/step - loss: 0.3564 - accuracy: 0.8352
Epoch 32/200
66/66 [==============================] - 0s 939us/step - loss: 0.3571 - accuracy: 0.8390
Epoch 33/200
66/66 [==============================] - 0s 924us/step - loss: 0.3567 - accuracy: 0.8366
Epoch 34/200
66/66 [==============================] - 0s 909us/step - loss: 0.3563 - accuracy: 0.8395
Epoch 35/200
66/66 [==============================] - 0s 924us/step - loss: 0.3560 - accuracy: 0.8390
Epoch 36/200
66/66 [==============================] - 0s 939us/step - loss: 0.3558 - accuracy: 0.8390
Epoch 37/200
66/66 [==============================] - 0s 955us/step - loss: 0.3560 - accuracy: 0.8400
Epoch 38/200
66/66 [==============================] - 0s 955us/step - loss: 0.3563 - accuracy: 0.8385
Epoch 39/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3555 - accuracy: 0.8404
Epoch 40/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8376
Epoch 41/200
66/66 [==============================] - 0s 908us/step - loss: 0.3557 - accuracy: 0.8371
Epoch 42/200
66/66 [==============================] - 0s 924us/step - loss: 0.3557 - accuracy: 0.8390
Epoch 43/200
66/66 [==============================] - 0s 924us/step - loss: 0.3551 - accuracy: 0.8395
Epoch 44/200
66/66 [==============================] - 0s 924us/step - loss: 0.3549 - accuracy: 0.8385
Epoch 45/200
66/66 [==============================] - 0s 909us/step - loss: 0.3553 - accuracy: 0.8376
Epoch 46/200
66/66 [==============================] - 0s 939us/step - loss: 0.3545 - accuracy: 0.8409
Epoch 47/200
66/66 [==============================] - 0s 924us/step - loss: 0.3558 - accuracy: 0.8371
Epoch 48/200
66/66 [==============================] - 0s 939us/step - loss: 0.3556 - accuracy: 0.8390
Epoch 49/200
66/66 [==============================] - 0s 924us/step - loss: 0.3551 - accuracy: 0.8390
Epoch 50/200
66/66 [==============================] - 0s 909us/step - loss: 0.3545 - accuracy: 0.8385
Epoch 51/200
66/66 [==============================] - 0s 924us/step - loss: 0.3550 - accuracy: 0.8385
Epoch 52/200
66/66 [==============================] - 0s 908us/step - loss: 0.3548 - accuracy: 0.8385
Epoch 53/200
66/66 [==============================] - 0s 955us/step - loss: 0.3547 - accuracy: 0.8395
Epoch 54/200
66/66 [==============================] - 0s 955us/step - loss: 0.3552 - accuracy: 0.8409
Epoch 55/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3548 - accuracy: 0.8400
Epoch 56/200
66/66 [==============================] - 0s 985us/step - loss: 0.3549 - accuracy: 0.8395
Epoch 57/200
66/66 [==============================] - 0s 986us/step - loss: 0.3543 - accuracy: 0.8371
Epoch 58/200
66/66 [==============================] - 0s 924us/step - loss: 0.3547 - accuracy: 0.8362
Epoch 59/200
66/66 [==============================] - 0s 924us/step - loss: 0.3538 - accuracy: 0.8395
Epoch 60/200
66/66 [==============================] - 0s 924us/step - loss: 0.3542 - accuracy: 0.8376
Epoch 61/200
66/66 [==============================] - 0s 939us/step - loss: 0.3542 - accuracy: 0.8385
Epoch 62/200
66/66 [==============================] - 0s 939us/step - loss: 0.3539 - accuracy: 0.8381
Epoch 63/200
66/66 [==============================] - 0s 909us/step - loss: 0.3541 - accuracy: 0.8381
Epoch 64/200
66/66 [==============================] - 0s 909us/step - loss: 0.3538 - accuracy: 0.8385
Epoch 65/200
66/66 [==============================] - 0s 924us/step - loss: 0.3537 - accuracy: 0.8395
Epoch 66/200
66/66 [==============================] - 0s 924us/step - loss: 0.3547 - accuracy: 0.8404
Epoch 67/200
66/66 [==============================] - 0s 924us/step - loss: 0.3535 - accuracy: 0.8414
Epoch 68/200
66/66 [==============================] - 0s 970us/step - loss: 0.3534 - accuracy: 0.8385
Epoch 69/200
66/66 [==============================] - 0s 939us/step - loss: 0.3533 - accuracy: 0.8371
Epoch 70/200
66/66 [==============================] - 0s 939us/step - loss: 0.3530 - accuracy: 0.8381
Epoch 71/200
66/66 [==============================] - 0s 909us/step - loss: 0.3527 - accuracy: 0.8371
Epoch 72/200
66/66 [==============================] - 0s 939us/step - loss: 0.3530 - accuracy: 0.8390
Epoch 73/200
66/66 [==============================] - 0s 939us/step - loss: 0.3532 - accuracy: 0.8376
Epoch 74/200
66/66 [==============================] - 0s 939us/step - loss: 0.3525 - accuracy: 0.8404
Epoch 75/200
66/66 [==============================] - 0s 955us/step - loss: 0.3535 - accuracy: 0.8390
Epoch 76/200
66/66 [==============================] - 0s 955us/step - loss: 0.3525 - accuracy: 0.8404
Epoch 77/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8385
Epoch 78/200
66/66 [==============================] - 0s 955us/step - loss: 0.3528 - accuracy: 0.8381
Epoch 79/200
66/66 [==============================] - 0s 924us/step - loss: 0.3530 - accuracy: 0.8381
Epoch 80/200
66/66 [==============================] - 0s 939us/step - loss: 0.3531 - accuracy: 0.8419
Epoch 81/200

66/66 [==============================] - 0s 939us/step - loss: 0.3531 - accuracy: 0.8381
Epoch 82/200
66/66 [==============================] - 0s 939us/step - loss: 0.3526 - accuracy: 0.8385
Epoch 83/200
66/66 [==============================] - 0s 955us/step - loss: 0.3520 - accuracy: 0.8385
Epoch 84/200
66/66 [==============================] - 0s 939us/step - loss: 0.3518 - accuracy: 0.8404
Epoch 85/200
66/66 [==============================] - 0s 924us/step - loss: 0.3522 - accuracy: 0.8414
Epoch 86/200
66/66 [==============================] - 0s 955us/step - loss: 0.3528 - accuracy: 0.8395
Epoch 87/200
66/66 [==============================] - 0s 924us/step - loss: 0.3519 - accuracy: 0.8385
Epoch 88/200
66/66 [==============================] - 0s 909us/step - loss: 0.3520 - accuracy: 0.8376
Epoch 89/200
66/66 [==============================] - 0s 909us/step - loss: 0.3519 - accuracy: 0.8404
Epoch 90/200
66/66 [==============================] - 0s 909us/step - loss: 0.3520 - accuracy: 0.8395
Epoch 91/200
66/66 [==============================] - 0s 924us/step - loss: 0.3513 - accuracy: 0.8385
Epoch 92/200
66/66 [==============================] - 0s 878us/step - loss: 0.3524 - accuracy: 0.8404
Epoch 93/200
66/66 [==============================] - 0s 939us/step - loss: 0.3521 - accuracy: 0.8414
Epoch 94/200
66/66 [==============================] - 0s 909us/step - loss: 0.3517 - accuracy: 0.8366
Epoch 95/200
66/66 [==============================] - 0s 909us/step - loss: 0.3513 - accuracy: 0.8381
Epoch 96/200
66/66 [==============================] - 0s 909us/step - loss: 0.3522 - accuracy: 0.8381
Epoch 97/200
66/66 [==============================] - 0s 909us/step - loss: 0.3507 - accuracy: 0.8400
Epoch 98/200
66/66 [==============================] - 0s 893us/step - loss: 0.3511 - accuracy: 0.8381
Epoch 99/200
66/66 [==============================] - 0s 924us/step - loss: 0.3507 - accuracy: 0.8400
Epoch 100/200
66/66 [==============================] - 0s 893us/step - loss: 0.3511 - accuracy: 0.8390
Epoch 101/200
66/66 [==============================] - 0s 878us/step - loss: 0.3511 - accuracy: 0.8414
Epoch 102/200
66/66 [==============================] - 0s 878us/step - loss: 0.3507 - accuracy: 0.8390
Epoch 103/200
66/66 [==============================] - 0s 893us/step - loss: 0.3506 - accuracy: 0.8381
Epoch 104/200
66/66 [==============================] - 0s 924us/step - loss: 0.3509 - accuracy: 0.8414
Epoch 105/200
66/66 [==============================] - 0s 970us/step - loss: 0.3503 - accuracy: 0.8400
Epoch 106/200
66/66 [==============================] - 0s 924us/step - loss: 0.3500 - accuracy: 0.8409
Epoch 107/200
66/66 [==============================] - 0s 909us/step - loss: 0.3503 - accuracy: 0.8414
Epoch 108/200
66/66 [==============================] - 0s 955us/step - loss: 0.3502 - accuracy: 0.8404
Epoch 109/200
66/66 [==============================] - 0s 909us/step - loss: 0.3505 - accuracy: 0.8423
Epoch 110/200
66/66 [==============================] - 0s 909us/step - loss: 0.3504 - accuracy: 0.8419
Epoch 111/200
66/66 [==============================] - 0s 878us/step - loss: 0.3502 - accuracy: 0.8409
Epoch 112/200
66/66 [==============================] - 0s 893us/step - loss: 0.3507 - accuracy: 0.8400
Epoch 113/200
66/66 [==============================] - 0s 909us/step - loss: 0.3496 - accuracy: 0.8404
Epoch 114/200
66/66 [==============================] - 0s 878us/step - loss: 0.3496 - accuracy: 0.8409
Epoch 115/200
66/66 [==============================] - 0s 909us/step - loss: 0.3497 - accuracy: 0.8414
Epoch 116/200
66/66 [==============================] - 0s 908us/step - loss: 0.3498 - accuracy: 0.8409
Epoch 117/200
66/66 [==============================] - 0s 939us/step - loss: 0.3496 - accuracy: 0.8400
Epoch 118/200
66/66 [==============================] - 0s 924us/step - loss: 0.3496 - accuracy: 0.8404
Epoch 119/200
66/66 [==============================] - 0s 909us/step - loss: 0.3498 - accuracy: 0.8414
Epoch 120/200
66/66 [==============================] - 0s 924us/step - loss: 0.3488 - accuracy: 0.8409
Epoch 121/200
66/66 [==============================] - 0s 909us/step - loss: 0.3493 - accuracy: 0.8404
Epoch 122/200
66/66 [==============================] - 0s 924us/step - loss: 0.3495 - accuracy: 0.8404
Epoch 123/200
66/66 [==============================] - 0s 893us/step - loss: 0.3492 - accuracy: 0.8419
Epoch 124/200
66/66 [==============================] - 0s 909us/step - loss: 0.3489 - accuracy: 0.8409
Epoch 125/200
66/66 [==============================] - 0s 909us/step - loss: 0.3497 - accuracy: 0.8428
Epoch 126/200
66/66 [==============================] - 0s 909us/step - loss: 0.3487 - accuracy: 0.8404
Epoch 127/200
66/66 [==============================] - 0s 893us/step - loss: 0.3486 - accuracy: 0.8419
Epoch 128/200
66/66 [==============================] - 0s 986us/step - loss: 0.3497 - accuracy: 0.8404
Epoch 129/200
66/66 [==============================] - 0s 985us/step - loss: 0.3486 - accuracy: 0.8447
Epoch 130/200
66/66 [==============================] - 0s 970us/step - loss: 0.3486 - accuracy: 0.8419
Epoch 131/200
66/66 [==============================] - 0s 986us/step - loss: 0.3485 - accuracy: 0.8428
Epoch 132/200
66/66 [==============================] - 0s 939us/step - loss: 0.3491 - accuracy: 0.8423
Epoch 133/200
66/66 [==============================] - 0s 986us/step - loss: 0.3486 - accuracy: 0.8385
Epoch 134/200
66/66 [==============================] - 0s 970us/step - loss: 0.3478 - accuracy: 0.8433
Epoch 135/200
66/66 [==============================] - 0s 985us/step - loss: 0.3478 - accuracy: 0.8428
Epoch 136/200
66/66 [==============================] - 0s 970us/step - loss: 0.3476 - accuracy: 0.8433
Epoch 137/200
66/66 [==============================] - 0s 955us/step - loss: 0.3475 - accuracy: 0.8395
Epoch 138/200
66/66 [==============================] - 0s 893us/step - loss: 0.3486 - accuracy: 0.8419
Epoch 139/200
66/66 [==============================] - 0s 893us/step - loss: 0.3481 - accuracy: 0.8395
Epoch 140/200
66/66 [==============================] - 0s 909us/step - loss: 0.3481 - accuracy: 0.8452
Epoch 141/200
66/66 [==============================] - 0s 909us/step - loss: 0.3473 - accuracy: 0.8423
Epoch 142/200
66/66 [==============================] - 0s 909us/step - loss: 0.3472 - accuracy: 0.8428
Epoch 143/200
66/66 [==============================] - 0s 908us/step - loss: 0.3478 - accuracy: 0.8419
Epoch 144/200
66/66 [==============================] - 0s 909us/step - loss: 0.3475 - accuracy: 0.8423
Epoch 145/200
66/66 [==============================] - 0s 924us/step - loss: 0.3474 - accuracy: 0.8423
Epoch 146/200
66/66 [==============================] - 0s 924us/step - loss: 0.3475 - accuracy: 0.8414
Epoch 147/200
66/66 [==============================] - 0s 893us/step - loss: 0.3465 - accuracy: 0.8414
Epoch 148/200
66/66 [==============================] - 0s 909us/step - loss: 0.3472 - accuracy: 0.8423
Epoch 149/200
66/66 [==============================] - 0s 893us/step - loss: 0.3472 - accuracy: 0.8400
Epoch 150/200
66/66 [==============================] - 0s 909us/step - loss: 0.3469 - accuracy: 0.8438
Epoch 151/200
66/66 [==============================] - 0s 893us/step - loss: 0.3470 - accuracy: 0.8438
Epoch 152/200
66/66 [==============================] - 0s 970us/step - loss: 0.3478 - accuracy: 0.8419
Epoch 153/200
66/66 [==============================] - 0s 893us/step - loss: 0.3473 - accuracy: 0.8442
Epoch 154/200
66/66 [==============================] - 0s 909us/step - loss: 0.3465 - accuracy: 0.8433
Epoch 155/200
66/66 [==============================] - 0s 909us/step - loss: 0.3465 - accuracy: 0.8466
Epoch 156/200
66/66 [==============================] - 0s 909us/step - loss: 0.3465 - accuracy: 0.8433
Epoch 157/200
66/66 [==============================] - 0s 909us/step - loss: 0.3473 - accuracy: 0.8466
Epoch 158/200
66/66 [==============================] - 0s 893us/step - loss: 0.3461 - accuracy: 0.8409
Epoch 159/200
66/66 [==============================] - 0s 909us/step - loss: 0.3462 - accuracy: 0.8438
Epoch 160/200

66/66 [==============================] - 0s 909us/step - loss: 0.3463 - accuracy: 0.8456
Epoch 161/200
66/66 [==============================] - 0s 893us/step - loss: 0.3469 - accuracy: 0.8456
Epoch 162/200
66/66 [==============================] - 0s 924us/step - loss: 0.3456 - accuracy: 0.8433
Epoch 163/200
66/66 [==============================] - 0s 939us/step - loss: 0.3462 - accuracy: 0.8480
Epoch 164/200
66/66 [==============================] - 0s 955us/step - loss: 0.3460 - accuracy: 0.8447
Epoch 165/200
66/66 [==============================] - 0s 924us/step - loss: 0.3457 - accuracy: 0.8452
Epoch 166/200
66/66 [==============================] - 0s 909us/step - loss: 0.3473 - accuracy: 0.8452
Epoch 167/200
66/66 [==============================] - 0s 939us/step - loss: 0.3458 - accuracy: 0.8456
Epoch 168/200
66/66 [==============================] - 0s 970us/step - loss: 0.3461 - accuracy: 0.8414
Epoch 169/200
66/66 [==============================] - 0s 970us/step - loss: 0.3454 - accuracy: 0.8447
Epoch 170/200
66/66 [==============================] - 0s 939us/step - loss: 0.3455 - accuracy: 0.8456
Epoch 171/200
66/66 [==============================] - 0s 924us/step - loss: 0.3449 - accuracy: 0.8447
Epoch 172/200
66/66 [==============================] - 0s 939us/step - loss: 0.3458 - accuracy: 0.8423
Epoch 173/200
66/66 [==============================] - 0s 939us/step - loss: 0.3462 - accuracy: 0.8438
Epoch 174/200
66/66 [==============================] - 0s 924us/step - loss: 0.3455 - accuracy: 0.8447
Epoch 175/200
66/66 [==============================] - 0s 924us/step - loss: 0.3455 - accuracy: 0.8438
Epoch 176/200
66/66 [==============================] - 0s 924us/step - loss: 0.3455 - accuracy: 0.8452
Epoch 177/200
66/66 [==============================] - 0s 924us/step - loss: 0.3444 - accuracy: 0.8461
Epoch 178/200
66/66 [==============================] - 0s 986us/step - loss: 0.3453 - accuracy: 0.8466
Epoch 179/200
66/66 [==============================] - 0s 909us/step - loss: 0.3457 - accuracy: 0.8447
Epoch 180/200
66/66 [==============================] - 0s 924us/step - loss: 0.3459 - accuracy: 0.8447
Epoch 181/200
66/66 [==============================] - 0s 924us/step - loss: 0.3451 - accuracy: 0.8447
Epoch 182/200
66/66 [==============================] - 0s 924us/step - loss: 0.3447 - accuracy: 0.8456
Epoch 183/200
66/66 [==============================] - 0s 924us/step - loss: 0.3466 - accuracy: 0.8428
Epoch 184/200
66/66 [==============================] - 0s 939us/step - loss: 0.3448 - accuracy: 0.8461
Epoch 185/200
66/66 [==============================] - 0s 924us/step - loss: 0.3450 - accuracy: 0.8447
Epoch 186/200
66/66 [==============================] - 0s 909us/step - loss: 0.3452 - accuracy: 0.8461
Epoch 187/200
66/66 [==============================] - 0s 893us/step - loss: 0.3446 - accuracy: 0.8452
Epoch 188/200
66/66 [==============================] - 0s 893us/step - loss: 0.3442 - accuracy: 0.8475
Epoch 189/200
66/66 [==============================] - 0s 909us/step - loss: 0.3446 - accuracy: 0.8456
Epoch 190/200
66/66 [==============================] - 0s 909us/step - loss: 0.3442 - accuracy: 0.8452
Epoch 191/200
66/66 [==============================] - 0s 909us/step - loss: 0.3446 - accuracy: 0.8471
Epoch 192/200
66/66 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8433
Epoch 193/200
66/66 [==============================] - 0s 924us/step - loss: 0.3443 - accuracy: 0.8456
Epoch 194/200
66/66 [==============================] - 0s 924us/step - loss: 0.3437 - accuracy: 0.8461
Epoch 195/200
66/66 [==============================] - 0s 939us/step - loss: 0.3442 - accuracy: 0.8438
Epoch 196/200
66/66 [==============================] - 0s 909us/step - loss: 0.3440 - accuracy: 0.8466
Epoch 197/200
66/66 [==============================] - 0s 939us/step - loss: 0.3435 - accuracy: 0.8461
Epoch 198/200
66/66 [==============================] - 0s 939us/step - loss: 0.3439 - accuracy: 0.8490
Epoch 199/200
66/66 [==============================] - 0s 939us/step - loss: 0.3443 - accuracy: 0.8456
Epoch 200/200
66/66 [==============================] - 0s 970us/step - loss: 0.3440 - accuracy: 0.8456

Using this neural network we can predict with 78% the Customer churn from Telco's business

In [36]:
loss, accuracy = ann.evaluate(X_test, Y_test)

155/155 [==============================] - 0s 819us/step - loss: 0.4814 - accuracy: 0.7789